# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
*.so
.Python
.python-version
.pytest_cache/
.pytest_cache/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pylintrc
.venv/
venv/
env/
ENV/

# Virtual Environment
venv/
env/
virtualenv/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
*.whl

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Environment variables
.env
.env.local
.env.prod
.env.dev

# Logs
*.log

# pytest
pytest.ini

*.pt
datasets/
*.jsonl

notebooks/